:root {
    --background-color: rgba(16, 75, 60, 0.5);
    --primary-color: white;
    --border-color: rgba(16, 75, 60, 0.5);
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary-color);
    background: var(--background-color) url("/assets/img/back.jpg") center/cover no-repeat;

    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: clamp(21px, 2.3vw, 26px);
    margin: 0;
}

.content-container {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-container {
    width: 83%;
}

.profile-picture {
    border-radius: 50%;
    object-fit: cover;
    max-width: 200px;
    width: 100%;
    height: auto;
    border: 6px solid var(--border-color);
}

.icon-container {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    font-size: 25px; /* Increase the font size for larger icons */
}

.icon-container:hover {
    transform: scale(1.1);
}

.icon-container-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.text-fill {
    background-color: var(--border-color);
}

@media (max-width: 600px) {
    body {
        background-size: auto;
    }

    .profile-picture {
        max-width: 150px; /* Size adjustment for mobile */
    }

    .content-container {
        padding: 15px; /* Reduced padding for mobile */
    }
}