.profile-pic {
  position: relative;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
  overflow: hidden;
  margin: -31px;
  margin-left:-7px;
  border: 6px solid rgba(0, 77, 64, 0.4); 
  border-radius: 50% !important;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
}

.icon-btn {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  border-radius: 45px;
  display: inline-block;
  margin: 4px;
}

.github {
  color: #104b3c
}

.linkedin {
  color: #104b3c
}

.envelope {
  color: #104b3c
}

.telegram {
  color: #104b3c
}

.whatsapp {
  color: #104b3c
}

.icon-btn:hover {
  transform: scale(1.10);
  color: #FFFFFF;
}

.linkedin:hover {
  background-color: #0A66C2;
}

.github:hover {
  background-color: black;
}

.telegram:hover {
  background-color: #0088cc;
}

.whatsapp:hover {
  background-color: #25D366;
}

/* main body */
body {
  color: #333;
  font-size: 18px;
  font-family: 'Courier New'
}

/* main a -- links */
a {
  color: #004d40;
}

.text-center {
  text-align: center;
}

/* main */

li.logo span {
  display: block;
  font-size: 14px;
}

.container {
  width: 95%;
}

h2 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.section {
  padding-bottom: 30px;
  padding-top: 0;
  position: relative;
}

.full-height {
  height: 100vh;
}

#intro.section {
  background: linear-gradient(341deg, #104b3c, #d7eae5);
  position: relative;
}

#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  top: 0;
}

#intro.section .container *:not(span) {
  font-weight: 300;
  line-height: 150%;
}

#intro.section .underline {
  border-bottom: 5px solid #24305e;
}

#intro.section .teal {
  padding: 0 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);

  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
