.profile-pic {
  position: relative;
  max-width:200px;
  max-height:200px;
  width: auto;
  height: auto;
  overflow: hidden;
  border: 6px solid rgba(0, 77, 64, 0.4);
  border-radius: 50% !important;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
}

.icon-btn {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  border-radius: 45px;
  display: inline-block;
}

.github {
  color: #104b3c
}

.linkedin {
  color: #104b3c
}

.envelope {
  color: #104b3c
}

.telegram {
  color: #104b3c
}

.whatsapp {
  color: #104b3c
}

.icon-btn:hover {
  transform: scale(1.10);
  color: #FFFFFF;
}

.linkedin:hover {
  background-color: #0A66C2;
}

.github:hover {
  background-color: black;
}

.telegram:hover {
  background-color: #0088cc;
}

.whatsapp:hover {
  background-color: #25D366;
}

/* main body */
body {
  color: #333;
  font-size: 18px;
  font-family: 'Courier New'
}

/* main a -- links */
a {
  color: #004d40;
}

.text-center {
  text-align: center;
}

/* main */

li.logo span {
  display: block;
  font-size: 14px;
}

.container {
  width: 45%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h4 {
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.section {
  position: relative;
}

.full-height {
  height: 100vh;
}

#intro.section {
  height:100%;
  background: linear-gradient(0deg,  #104b3c, #89b0a7);
  position: relative;
  color: white;
  justify-content: center;
  align-items: center;
}
